@font-face {
  font-family: ArticulatCF-Normal;
  src: url(./fonts/ArticulatCF-Normal.ttf);
}

@font-face {
  font-family: ArticulatCF-Bold;
  src: url(./fonts/ArticulatCF-Bold.otf);
}

@font-face {
  font-family: CartograpgCF-Bold;
  src: url(./fonts/CartographCF-ExtraBold.ttf);
}

@font-face {
  font-family: CartograpgCF-Light;
  src: url(./fonts/CartographCF-Light.ttf);
}

@font-face {
  font-family: CF-BoldOblique;
  src: url(./fonts/ArticulatCF-BoldOblique.ttf);
}
